@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-wrapper {
  overflow-x: hidden;
  background-color: #000000;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

@media only screen and (min-width: 600px) {
  .page-wrapper::before {
    content: "";
    position: absolute;
    top: -180px;
    left: 50%;
    width: 700px;
    height: 300px;
    background: radial-gradient(
      circle,
      rgba(185, 128, 255, 0.35) 0%,
      rgba(202, 180, 255, 0) 70%
    );
    transform: translateX(-50%);
    filter: blur(100px);
    z-index: 0;
    pointer-events: none;
  }
}

.contact-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  gap: 40px;
  padding-bottom: 140px;
  animation: fadeSlideUp 2s ease-in-out forwards;
  position: relative;
  z-index: 1;
}

.head {
  padding-top: 60px;
}

.head h1 {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(360deg, #b980ff, #cab4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  flex-wrap: wrap;
  width: 100%;
  padding: 40 20px;
}

.contact-icon {
  font-size: 60px !important;
  color: rgb(212, 198, 255);
  margin-bottom: 20px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.contact-icon:hover {
  color: rgb(181, 156, 255);
  transform: scale(1.1);
}

.contact-text {
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  margin: 0;
  word-break: break-word;
  max-width: 200px;
}

a {
  text-decoration: none;
}

.contact-intro {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards;
  padding-top: 20px;
}
