@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-background {
  overflow-x: hidden;
  background-color: #000000;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px;
}

.header {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .header::before {
    content: "";
    position: absolute;
    top: -80px;
    left: 50%;
    width: 700px;
    height: 300px;
    background: radial-gradient(
      circle,
      rgba(174, 116, 55, 0.35) 0%,
      rgba(202, 180, 255, 0) 100%
    );
    transform: translateX(-50%);
    filter: blur(80px);
    z-index: 0;
  }
}

.header h1 {
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(360deg, #fabf9d, #fff383);
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  z-index: 1;
  position: relative;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.projectCard {
  overflow: hidden;
  width: 100%;
  opacity: 0;
  transform: translateX(-200px);
  animation: fadeSlide 2s ease-in-out forwards;
}

.project-img {
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #797979;
  box-sizing: content-box;
}

.project-text {
  font-family: "PT Sans", sans-serif;
  color: white;
  text-align: left;
  z-index: 1;
}

.project-text h1 {
  font-size: 32px;
  font-weight: 600;
  color: #d3aa6e;
}

.project-text p {
  font-size: 20px;
}

.tech {
  font-size: 18px !important;
  font-style: italic;
  color: #a3dbfb;
}

.project-row {
  padding-bottom: 80px;
}

.socials {
  color: rgb(255, 255, 255);
  margin-right: 10px;
  text-decoration: none;
}

.view-code-link {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.view-code-link:hover {
  color: #9cffeb;

  .socials {
    color: #9cffeb;
  }
}

@media (max-width: 1200px) {
  .project-text {
    text-align: center;
    padding-bottom: 40px;
  }

  .project-img {
    height: 240px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .project-text h1 {
    font-size: 32px;
    font-weight: 600;
  }

  .project-text p {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .project-row {
    padding: 0;
  }

  .header {
    padding-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .project-img {
    height: 210px;
  }

  .project-text p {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 570px) {
  .project-img {
    height: 180px;
  }

  .project-text h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .project-text p {
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
  }
}
